.movies {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.movies-container {
  display: flex;
  margin-top: 20px;
  gap: 5px;
  min-height: calc(87vh - 50px);
}

.movies-list {
  flex: 2;
}

.movie-details {
  flex: 1;
}
